@font-face {
    font-family: Pixel;
    src: url(fonts/ccoverbyteoffregular.otf);
}

@font-face {
    font-family: pixelar;
    src: url(/fonts/Blox2.ttf);
}

.title{
    text-align: center;
    font-size: 120px;
    color: black;
    font-family: pixelar;
    width: 100%;
    text-decoration: underline black; 
}

.hocho{
    height: 90px;
    width: 130px;
    transform: translateY(-10px);
 
}


.info{
    color: black;
    background-color: white;
    width: 280px;
    font-size: 26px;
    border-radius: 15px;
    padding-right: 19px;
    transform: translateX(-200px);
}



.btn1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    font-family: Pixel;
    font-size: 16px;
    background-image: url(/fondo\ 2-2.jpg);
    background-attachment: fixed;
    background-position: center;

}

canvas {
    display: none;
}

h2 {
    font-size: 6rem;
    margin: 1rem 0px;
}

.end__screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #80808073;
}


.end__screen--container {
    width: 600px;
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.end__screen--img {
    width: 30%;
    flex: 100%;
}

.end__screen--score {
    font-size: 2.5rem;
}

#home__btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#home__btn img {
    width: 40px;
}