@font-face {
    font-family: Pixel;
    src: url(fonts/ccoverbyteoffregular.otf);
}

@font-face {
    font-family: pixelar;
    src: url(/fonts/Blox2.ttf);
}

.title {
    text-align: center;
    font-size: 120px;
    color: black;
    font-family: pixelar;
    width: 100%;
    text-decoration: underline black;
    margin-bottom: 3rem;
    position: relative;
}

.hocho {
    height: 90px;
    width: 130px;
    position: absolute;
    top: 20px;
}

.leader__board--container h3,
.info h3 {
    text-align: center;
}

input:focus {
    outline: none;
}

.end__screen--buttons {
    padding-bottom: 10px;
}

.end__screen--buttons form {
    display: flex;
    align-items: center;
}

#name {
    border-color: #cccccc;
    box-shadow: 0px 0px 5px 0px rgb(42 42 42 / 75%);
    border-radius: 50px;
    border-style: solid;
    border-width: 0px;
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
    text-align: center;
}

.info,
.leader__board--container {
    color: black;
    background-color: white;
    width: 280px;
    font-size: 26px;
    border-radius: 15px;
    padding: 20px;
}

.instruc,
.leader__board--ul {
    margin: unset;
}

.instruc li,
leader__board--ul li {
    margin: 10px 0;
}

#startGame {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-content: center;


}

.welcome__view--container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: stretch;
    align-content: center;
}

#gameBoard {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.statusBar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    max-width: 1105px;
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

body {
    overflow: hidden;
    font-family: Pixel;
    font-size: 16px;
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-position: center;

}

canvas {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.timer {
    color: black;
    font-size: 40px;

}


#Shuffle {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#Shuffle img {
    width: 60px;
}

h2 {
    font-size: 6rem;
    margin: 1rem 0px;
}

.end__screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #80808073;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#playMusic {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#playMusic img {
    width: 80px;
}

#music__container {
    display: flex;
    flex-direction: column;
}

#music__container h3 {
    margin: 0;
}

.end__screen--container {
    width: 600px;
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.end__screen--img {
    width: 30%;
    flex: 100%;
}

.end__screen--score {
    font-size: 2.5rem;
}

#home__btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#home__btn img {
    width: 40px;
}